<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>UX GHOST</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-card class="animated fadeIn" *ngFor="let post of $posts | async">
            <mat-card-header>
                <div mat-card-avatar class="header-avatar"></div>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{post.body}}</p>
            </mat-card-content>
        </mat-card>

        <app-card-ghost [loading]="loading" *ngFor="let ghost of ghosts">
        </app-card-ghost> 

    </mat-sidenav-content>
</mat-sidenav-container>