.mat-sidenav-container{
    height: 100%;
}

.mat-card {
    padding: 12px;
    margin: 2em auto;
    max-width: 472px;
    min-height: 150px;
}

.header-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  
